body{
    background-color:aliceblue;
    font-family: monospace;
}
aside {
    float: right;
}
header {
    text-align: center;
    color: rgb(35, 105, 107);
}
table, th, td {
    border: 1px solid rgb(35, 105, 107);
    border-collapse: collapse;
}
